In [1]:
import pandas as pd
import matplotlib
from sklearn.preprocessing import minmax_scale
low_memory = False

In [2]:
df_2014 = pd.read_csv('dados_congresso/ceapd_2014.csv', sep=';')
df_2015 = pd.read_csv('dados_congresso/ceapd_2015.csv', sep=';')
df_2016 = pd.read_csv('dados_congresso/ceapd_2016.csv', sep=';')
df_2017 = pd.read_csv('dados_congresso/ceapd_2017.csv', sep=';')

/Users/julia/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (10,17) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
dfs = [df_2014, df_2015, df_2016, df_2017]

In [4]:
df = pd.concat(dfs)

In [5]:
df.head()

,txNomeParlamentar,idecadastro,nuCarteiraParlamentar,nuLegislatura,sgUF,sgPartido,codLegislatura,numSubCota,txtDescricao,numEspecificacaoSubCota,...,numMes,numAno,numParcela,txtPassageiro,txtTrecho,numLote,numRessarcimento,vlrRestituicao,nuDeputadoId,ideDocumento
0,ABELARDO CAMARINHA,141463.0,329.0,2011,SP,PSB,54.0,3,COMBUSTÍVEIS E LUBRIFICANTES.,1,...,3,2014,0,NaN,NaN,1107916,4646.0,0.0,1772,5393987
1,ABELARDO CAMARINHA,141463.0,329.0,2011,SP,PSB,54.0,3,COMBUSTÍVEIS E LUBRIFICANTES.,1,...,6,2014,0,NaN,NaN,1128219,4721.0,0.0,1772,5466596
2,ABELARDO CAMARINHA,141463.0,329.0,2011,SP,PSB,54.0,3,COMBUSTÍVEIS E LUBRIFICANTES.,1,...,7,2014,0,NaN,NaN,1131441,4741.0,0.0,1772,5479339
3,ABELARDO CAMARINHA,141463.0,329.0,2011,SP,PSB,54.0,3,COMBUSTÍVEIS E LUBRIFICANTES.,1,...,5,2014,0,NaN,NaN,1122638,4703.0,0.0,1772,5446454
4,ABELARDO CAMARINHA,141463.0,329.0,2011,SP,PSB,54.0,3,COMBUSTÍVEIS E LUBRIFICANTES.,1,...,1,2014,0,NaN,NaN,1090732,4561.0,0.0,1772,5335354

In [6]:
df.columns

Index(['txNomeParlamentar', 'idecadastro', 'nuCarteiraParlamentar',
       'nuLegislatura', 'sgUF', 'sgPartido', 'codLegislatura', 'numSubCota',
       'txtDescricao', 'numEspecificacaoSubCota', 'txtDescricaoEspecificacao',
       'txtFornecedor', 'txtCNPJCPF', 'txtNumero', 'indTipoDocumento',
       'datEmissao', 'vlrDocumento', 'vlrGlosa', 'vlrLiquido', 'numMes',
       'numAno', 'numParcela', 'txtPassageiro', 'txtTrecho', 'numLote',
       'numRessarcimento', 'vlrRestituicao', 'nuDeputadoId', 'ideDocumento'],
      dtype='object')

In [7]:
df = df.drop(['idecadastro', 'nuCarteiraParlamentar', 'txtDescricaoEspecificacao',
         'nuLegislatura', 'numSubCota', 'numEspecificacaoSubCota',
         'txtCNPJCPF', 'txtNumero', 'numLote','nuDeputadoId',
         'ideDocumento', 'txtTrecho', 'numParcela', 'indTipoDocumento',
              'txtFornecedor', 'numRessarcimento', 'codLegislatura',
              'datEmissao', 'vlrGlosa', 'vlrDocumento', 'vlrRestituicao'], axis=1)

# Limpeza dos dados

## Removendo os NANs:

In [8]:
print("Total Train Features with NaN Values = " + str(df.columns[df.isnull().sum() != 0].size))
if (df.columns[df.isnull().sum() != 0].size):
    print("Features with NaN => {}".format(list(df.columns[df.isnull().sum() != 0])))
    df[df.columns[df.isnull().sum() != 0]].isnull().sum().sort_values(ascending = False)

Total Train Features with NaN Values = 3
Features with NaN => ['sgUF', 'sgPartido', 'txtPassageiro']

In [9]:
df_nan = (df.isnull().sum()).to_frame()

In [10]:
df_nan.rename(columns={0:'qtd_nan'}, inplace=True)

In [11]:
df_nan.sort_values('qtd_nan', ascending=False)

                   qtd_nan
txtPassageiro       962604
sgUF                  3106
sgPartido             3106
txNomeParlamentar        0
txtDescricao             0
vlrLiquido               0
numMes                   0
numAno                   0

In [12]:
df = df[pd.notnull(df.sgUF)]

In [13]:
df_nan = (df.isnull().sum()).to_frame()

In [14]:
df_nan.rename(columns={0:'qtd_nan'}, inplace=True)

In [15]:
df_nan.sort_values('qtd_nan', ascending=False)

                   qtd_nan
txtPassageiro       959651
txNomeParlamentar        0
sgUF                     0
sgPartido                0
txtDescricao             0
vlrLiquido               0
numMes                   0
numAno                   0

In [16]:
df.head()

,txNomeParlamentar,sgUF,sgPartido,txtDescricao,vlrLiquido,numMes,numAno,txtPassageiro
0,ABELARDO CAMARINHA,SP,PSB,COMBUSTÍVEIS E LUBRIFICANTES.,100,3,2014,NaN
1,ABELARDO CAMARINHA,SP,PSB,COMBUSTÍVEIS E LUBRIFICANTES.,180,6,2014,NaN
2,ABELARDO CAMARINHA,SP,PSB,COMBUSTÍVEIS E LUBRIFICANTES.,"145,06",7,2014,NaN
3,ABELARDO CAMARINHA,SP,PSB,COMBUSTÍVEIS E LUBRIFICANTES.,100,5,2014,NaN
4,ABELARDO CAMARINHA,SP,PSB,COMBUSTÍVEIS E LUBRIFICANTES.,"95,07",1,2014,NaN

## Verificando valores Inválidos

In [17]:
df.sgUF.value_counts()

SP    222251
MG    174686
RJ    124242
RS    117515
BA    109958
PR    103366
PE     73806
SC     63570
CE     50085
PA     38854
MA     34411
GO     26167
PB     25315
ES     22383
AL     21207
PI     20886
RN     20725
MT     19778
MS     18163
RO     18075
AC     17288
SE     15283
TO     14963
RR     13429
AM     13063
AP     13042
DF      8762
Name: sgUF, dtype: int64

In [18]:
df.sgPartido.value_counts()

PT         199604
PP         147359
MDB        139749
PSDB       137279
DEM        103809
PR         101815
PSD         92182
PSB         69597
PDT         53596
PODE        39871
PCdoB       39774
PTB         38605
PRB         36898
SD          26295
PROS        26179
PPS         24077
PMDB        18259
PSC         17808
PV          16811
PSL         14580
PSOL        14423
PATRI       13291
AVANTE      12609
PHS          6349
REDE         4046
PMN          1692
PPL          1607
PRP           941
PTdoB         740
S.PART.       684
PEN           267
PRTB          253
PSDC          224
Name: sgPartido, dtype: int64

In [19]:
df.txtDescricao.value_counts()

Emissão Bilhete Aéreo                                           439963
COMBUSTÍVEIS E LUBRIFICANTES.                                   282887
TELEFONIA                                                       148333
SERVIÇOS POSTAIS                                                118738
SERVIÇO DE TÁXI, PEDÁGIO E ESTACIONAMENTO                       101192
FORNECIMENTO DE ALIMENTAÇÃO DO PARLAMENTAR                      100738
MANUTENÇÃO DE ESCRITÓRIO DE APOIO À ATIVIDADE PARLAMENTAR        87943
DIVULGAÇÃO DA ATIVIDADE PARLAMENTAR.                             41195
HOSPEDAGEM ,EXCETO DO PARLAMENTAR NO DISTRITO FEDERAL.           24356
LOCAÇÃO OU FRETAMENTO DE VEÍCULOS AUTOMOTORES                    23187
CONSULTORIAS, PESQUISAS E TRABALHOS TÉCNICOS.                    11080
PASSAGENS AÉREAS                                                  9000
PASSAGENS TERRESTRES, MARÍTIMAS OU FLUVIAIS                       4179
SERVIÇO DE SEGURANÇA PRESTADO POR EMPRESA ESPECIALIZADA.          3594
ASSINATURA DE PUBLICAÇÕES                                         2931
LOCAÇÃO OU FRETAMENTO DE AERONAVES                                1551
LOCAÇÃO OU FRETAMENTO DE EMBARCAÇÕES                               177
LOCAÇÃO DE VEÍCULOS AUTOMOTORES OU FRETAMENTO DE EMBARCAÇÕES       154
PARTICIPAÇÃO EM CURSO, PALESTRA OU EVENTO SIMILAR                   75
Name: txtDescricao, dtype: int64

In [20]:
df.dtypes

txNomeParlamentar    object
sgUF                 object
sgPartido            object
txtDescricao         object
vlrLiquido           object
numMes                int64
numAno                int64
txtPassageiro        object
dtype: object

## Removendo os duplicados

In [21]:
len(df)

1401273

In [22]:
df = df.drop_duplicates()

In [23]:
len(df)

1184862

# Transformação dos dados

## Arrumando os tipos dos atributos

In [24]:
df = df[~df.vlrLiquido.str.contains('-')]
df['vlrLiquido'] = df.vlrLiquido.str.replace(',', '.')
# df['vlrGlosa'] = df.vlrGlosa.str.replace(',', '.')
# df['vlrDocumento'] = df.vlrDocumento.str.replace(',', '.')

In [25]:
df.dtypes

txNomeParlamentar    object
sgUF                 object
sgPartido            object
txtDescricao         object
vlrLiquido           object
numMes                int64
numAno                int64
txtPassageiro        object
dtype: object

In [26]:
df['vlrLiquido'] = df.vlrLiquido.astype(float)
# df['vlrGlosa'] = df.vlrGlosa.astype(float)
# df['vlrDocumento'] = df.vlrDocumento.astype(float)

In [27]:
df[df.vlrLiquido == 0]

Empty DataFrame
Columns: [txNomeParlamentar, sgUF, sgPartido, txtDescricao, vlrLiquido, numMes, numAno, txtPassageiro]
Index: []

## Normalização

In [28]:
df_numeric = df.select_dtypes(include='float')

In [29]:
df['norm_vlrLiquido'] = df_numeric.fillna(0).apply(minmax_scale)

## Histogramas e análises

In [30]:
df.describe()

         vlrLiquido        numMes        numAno  norm_vlrLiquido
count  1.120159e+06  1.120159e+06  1.120159e+06     1.120159e+06
mean   7.529354e+02  6.505536e+00  2.015500e+03     3.614273e-03
std    2.363454e+03  3.319425e+00  1.100513e+00     1.134530e-02
min    1.000000e-02  1.000000e+00  2.014000e+03     0.000000e+00
25%    7.157000e+01  4.000000e+00  2.015000e+03     3.435100e-04
50%    1.850000e+02  6.000000e+00  2.015000e+03     8.880089e-04
75%    6.378750e+02  9.000000e+00  2.016000e+03     3.061948e-03
max    2.083200e+05  1.200000e+01  2.017000e+03     1.000000e+00

In [31]:
df.groupby('sgPartido').txNomeParlamentar.nunique().sort_values(ascending=False).plot(kind='bar', figsize=(10,10))